---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Edino Krieger é um dos principais responsáveis e incentivador pelo projeto Violão Catarinense ter se tornado uma realidade. Lembro que quando combinamos de conversar em Blumenau (meados de 2011), expliquei a ele sobre o projeto e que gostaria de incluir todas as suas composições para violão solo no meu primeiro disco. Também expliquei a ele que eu gostaria de incluir no disco outras peças de outros compositores, perguntando-lhe com um certo receio se eu poderia fazer isso. Ele me respondeu de imediato: “Mas por que não?” Esta foi a resposta que demonstrou a mim o quanto Edino Krieger era humilde e incentivava outras pessoas a compor. Foi a partir deste momento que o disco Violão Catarinense se materializou. A resposta do maestro Krieger ainda reverbera no disco Violão Catarinense volume II e com a gravação de mais um terceiro disco. Talvez seja isso que estava faltando para seguirmos adiante: “Mas por que não?” 

​

                                                                                                                                                                                                  Andrei Uller
`;
---

<Layout title="Violão Catarinense">
    <h1 class="mb-10">Violão Catarinense</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Conheça o Projeto</a>
    </p>
</Layout>
