---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Um site com objetivo de preservar a história do violão no estado de Santa Catarina.
`;
---

<Layout title="Violão Catarinense">
    <h1 class="mb-10">Violão Catarinense</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">TESTE Conheça o Projeto</a>
    </p>
</Layout>
